* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

.theme-light {
	--base-color: 194;
	--bg-body: #f8f8f8;
    --bg-card: #cfcfd0;
    --bg-card-active: hsl(var(--base-color), 97%, 31%);
	--card-shadow: #b3b3b7;
    
	--timer-color: #2c2c2d;
    --svg-color: #2c2c2d;
    --svg-active-color: #f8f8f8;
	--svg-toggle: #2c2c2d;
}

.theme-dark {
	--base-color: 194;
	--bg-body: #202020;
    --bg-card: #494949;
    --bg-card-active: hsl(var(--base-color), 97%, 31%);
	--card-shadow: #343435;
    
	--timer-color: #ececec;
    --svg-color: #ececec;
    --svg-active-color: #323238;
	--svg-toggle: #ececec;
}

button {
	cursor: pointer;
	border: none;
	background: none;
}

.hide {
	display: none;
}

body {
	background-color: var(--bg-body);
	display: grid;
	place-items: center;
	height: 100vh;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20rem;
}

#timer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#timer .display {
	display: flex;
	font-family: 'Roboto', sans-serif;
	line-height: 16rem;
	font-size: 12rem;
	color: var(--timer-color);
}

#timer #controls {
	display: flex;
	gap: 4rem;
}
#timer button {
	transition: transform 400ms;
}

#timer #controls button:hover,
#cards .card button:hover,
footer:hover {
	transform: scale(1.2);
}

#timer #controls svg path, 
#cards .card svg path {
	fill: var(--svg-color);
}

#cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3.2rem;
}

#cards .card {
	position: relative;
	display: flex;
	flex-direction: column;
}

#cards .card input {
	position: absolute;
	bottom: 1.5rem;
	left: 1.5rem;
	width: 10rem;
}

#cards .card button {
	width: 13rem;
	height: 14rem;
	border-radius: 2.4rem;
	cursor: pointer;
	background: var(--bg-card);
	box-shadow: 10px 10px 20px var(--card-shadow);
	transition: transform 400ms;
}

#cards .card.active button {
	background: var(--bg-card-active);
}

#cards .card.active svg path {
	fill: var(--svg-active-color);
}

#cards .card.active .volume,
#cards .card.active .volume::-webkit-slider-thumb {
	background: var(--svg-active-color);
}

.volume {
	-webkit-appearance: none;
	height: 6px;
	background: var(--svg-color);
	border-radius: 9999px;
}

.volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: var(--svg-color);
}

footer  {
	position: absolute;
	top: 10rem;
	right: 10rem;
	transition: transform 400ms;
}

footer button svg path {
	fill: var(--svg-toggle);
}